<!DOCTYPE html>
<html>
<head>
	<title>login Test Case</title>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/vue.validator/2.0.0-alpha.21/vue-validator.min.js"></script>-->
    <script src="../../../node_modules/vue-validator/dist/vue-validator.min.js"></script>

</head>
<body >
<div id="show" ></div>

</body>
<script src="login_test.js" type="text/javascript" charset="utf-8" ></script>
</html>